body {
    padding-top: 70px; 
    background: linear-gradient( rgb(255, 222, 252), 77%, rgb(250, 109, 130));
    background-repeat: no-repeat;
    height: auto;
}

.count-input {
	width:10%;
	display: inline;
}

.add-to-basket-block {
	margin-top: 7px;
}


.modal-image {
	width: 100%;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.amount{
    display: inline;
}
.product{
    display: inline;
}
.remove-from-cart{
    display: inline;
}
footer {
    margin: 1%;
}

.row2 img {
    text-align: center;
    margin: 15px 15px 1px 15px;
}